## Information

Maria is a 25-year-old US Army veteran, newly returned to the civilian workforce. She has recently completed a six-year commitment with the Army. During her time in the Army, she worked in supply management and logistics. She has decided to pursue a degree in Management Systems and Information Technology.

Maria has asked you to use your data skills to help her search for the best school for her. She is willing to relocate anywhere in the continental United States, but she has a few criteria that her ideal schools must satisfy: 

Safety of the city
Schools should be offering a degree in IT
Ranking of the school

## Task
Clean the Data for
Any duplicates

Missing Values

Inconsistent values

Data Enrichment
Calculate School Ranking
Calculate the overall crime rate
Structure the Data: Merge the tables and produce the dataset which must have:
Top 5 schools on rankings for It college

Be in a city that is below 50th percentile in overall crime

Remove unnecessary columns

In [231]:
#library import, data loading

import pandas as pd
import numpy as np
import re

#dataset with colledge information
collegeDf = pd.read_excel('CollegeScorecard2.xlsx')
print(collegeDf.head())

#dataset with information about crime rate
crimeRateDf = pd.read_excel('Crime_2015.xlsx')
print(crimeRateDf.head())

     uid  RANK                                   UNIVERSITY             CITY  \
0  10023     5                           Cornell University           Ithaca
1  10034     6                     University of Washington      Seattle ...
2  10294     7  Columbia University in the City of New York    New York City
3  10388    10          University of Minnesota-Twin Cities  Minneapolis ...
4  10524    12                   University of Pennsylvania     Philadelphia

         Courses  AcademicScore  Staff/TeacherRatio  Citation Index  \
0  IT/Management            7.0                 8.0             5.0
1             IT            9.0                 8.0             9.0
2     Management            6.0                 7.0             7.0
3        Medical            5.0                 6.0             7.0
4   Architecture            6.0                 4.0             6.0

                                              NPCURL
0     galileo.aamu.edu/netpricecalculator/npcalc.htm
1    www.collegeportraits.org/AL/UAB/estimator/agree
2  tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...
3                                    finaid.uah.edu/
4  www.alasu.edu/cost-aid/forms/calculator/index....
              CITY  ViolentCrime  Murder  Robbery  PropertyCrime  Burglary  \
0           Ithaca        1160.0    15.1    122.2         4701.9    1179.5
1      Seattle ...        1070.1     7.6    126.6         4233.9     801.2
2    New York City         936.4     4.5    120.1         4565.9    1167.0
3  Minneapolis ...         901.5    19.3    247.0         2935.8     700.9
4     Philadelphia         825.4     5.5    147.8         4529.4     966.8

    Theft  MotorVehicleTheft
0  3356.0              166.3
1  2937.7              495.1
2  3083.7              315.2
3  1769.3              465.7
4  3223.1              339.6

In [232]:
#preliminary information about datasets
print(f"crimedf shape: {crimeRateDf.shape}")
print(f"crimedf information: {crimeRateDf.info()}")
print(f"crimedf describe: {crimeRateDf.describe}")

crimedf shape: (37, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CITY               37 non-null     object
 1   ViolentCrime       37 non-null     float64
 2   Murder             37 non-null     float64
 3   Robbery            37 non-null     float64
 4   PropertyCrime      36 non-null     float64
 5   Burglary           37 non-null     float64
 6   Theft              36 non-null     float64
 7   MotorVehicleTheft  37 non-null     float64
dtypes: float64(7), object(1)
memory usage: 2.4+ KB
crimedf information: None
crimedf describe: <bound method NDFrame.describe of                  CITY  ViolentCrime  Murder  Robbery  PropertyCrime  Burglary  \
0              Ithaca        1160.0    15.1    122.2         4701.9    1179.5
1         Seattle ...        1070.1     7.6    126.6         4233.9     801.2
2       New York City         936.4     4.5    120.1         4565.9    1167.0
3     Minneapolis ...         901.5    19.3    247.0         2935.8     700.9
4        Philadelphia         825.4     5.5    147.8         4529.4     966.8
5     Los Angeles ...         818.8     6.8    170.9         2650.9     625.5
6       North Chicago         815.0     6.9    273.0         2817.8     868.9
7             Madison         797.1     8.9    213.2         3466.1     727.1
8   New York City ...         792.6     6.1    206.7         4607.8     883.4
9           Princeton         767.1     6.6    122.3         3756.3     832.7
10        Los Angeles         744.2     7.6    163.2         3636.9    1008.7
11     Pittsburgh ...         734.5     6.9    112.8         3067.1     848.1
12       East Lansing         720.2     5.2    131.1         3075.5     669.1
13      San Diego ...         667.9     7.8    157.9         3894.1    1099.6
14        Gainesville         650.6     6.9     99.3         3464.0     627.8
15         Irvine ...         621.6     6.5     88.7         3469.1    1151.7
16      North Chicago         615.7     8.0    114.7         5190.6    1392.1
17             Durham         612.7     5.5    128.8         2580.2     506.7
18       Evanston ...         610.3     8.0    197.5         3670.5     534.9
19  New Brunswick ...         605.4     5.1     95.5         3370.5     697.4
20     Salt Lake City         579.7     7.9    129.7         3596.7     787.9
21            Raleigh         577.3     7.3    152.5         3692.2     725.5
22     Pittsburgh ...         566.6     6.9    228.9            NaN     596.8
23           Pasadena         409.3     3.0     60.9         2838.6     744.2
24  Santa Barbara ...         556.3     7.3    130.2         3439.3     954.3
25            Lincoln         537.3     6.1    136.9         3439.4     751.3
26            Medford         534.4    16.3    168.0         3030.2     532.2
27         Eugene ...         529.9     5.8     81.1         3418.3     662.9
28              Provo         529.7     5.1    110.4         3105.8     728.1
29      Iowa City ...         529.5     3.5    120.8         2366.8     529.4
30            Pullman         522.2     6.9    121.0         2818.0     783.5
31          Rochester         510.1     6.6    156.8         3285.8     536.1
32            Fairfax         506.7     5.8     89.3         2941.3     630.0
33         Providence         498.1     8.9    120.7         2008.4     425.3
34          Nashville         497.0     2.3     35.2         2075.4     624.2
35            Hanover         495.7     5.8    173.7         2357.7     445.9
36             Newark         494.3     8.8    106.6         3604.3    1099.2

     Theft  MotorVehicleTheft
0   3356.0              166.3
1   2937.7              495.1
2   3083.7              315.2
3   1769.3              465.7
4   3223.1              339.6
5   1834.1              191.2
6   1499.1              449.7
7   2180.0              559.0
8   3047.6              676.9
9   2602.3              321.3
10  2422.3              205.9
11  2064.7              154.3
12  2286.6              119.7
13  2652.8              141.7
14  2466.4              369.8
15  2089.2              228.1
16  3174.8              623.7
17  1929.5              144.0
18  2811.8              323.9
19  2521.4              151.7
20  2601.2              207.6
21  2274.2              692.4
22     NaN              367.2
23  2000.8               93.6
24  1881.1              603.9
25  2196.6              491.5
26  2196.4              301.6
27  2476.1              279.3
28  2168.4              209.2
29  1656.2              181.2
30  1865.8              168.7
31  2470.0              279.7
32  2158.6              152.7
33  1326.5              256.6
34  1352.2               99.1
35  1480.8              431.1
36  2337.7              167.4  >

In [233]:
print(f"colledgedf shape: {collegeDf.shape}")
print(f"colledgedf information: {collegeDf.info()}")
print(f"colledgedf describe: {collegeDf.describe}")

colledgedf shape: (31, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   uid                 31 non-null     int64
 1   RANK                31 non-null     int64
 2   UNIVERSITY          31 non-null     object
 3   CITY                31 non-null     object
 4   Courses             30 non-null     object
 5   AcademicScore       22 non-null     float64
 6   Staff/TeacherRatio  22 non-null     float64
 7   Citation Index      20 non-null     float64
 8   NPCURL              31 non-null     object
dtypes: float64(3), int64(2), object(4)
memory usage: 2.3+ KB
colledgedf information: None
colledgedf describe: <bound method NDFrame.describe of       uid  RANK                                         UNIVERSITY  \
0   10023     5                                 Cornell University
1   10034     6                           University of Washington
2   10294     7        Columbia University in the City of New York
3   10388    10                University of Minnesota-Twin Cities
4   10524    12                         University of Pennsylvania
5   10659    13              University of California, Los Angeles
6   10795    14                                    Yale University
7   10930    16                    University of Wisconsin-Madison
8   11066    18                                New York University
9   11201    19                               Princeton University
10  11337    20                  University of Southern California
11  11472    22                         Carnegie Mellon University
12  11608    23                          Michigan State University
13  11743    24                University of California, San Diego
14  11879    26                              University of Florida
15  12014    29                   University of California, Irvine
16  84321  1083  Rosalind Franklin University of Medicine and S...
17  12285    31                                    Duke University
18  12421    34                            Northwestern University
19  12556    36        Rutgers, The State University of New Jersey
20  12692    40                             The University of Utah
21  12827    42                    North Carolina State University
22  12963    43                           University of Pittsburgh
23  13098    46                 California Institute of Technology
24  13234    47            University of California, Santa Barbara
25  13369    49                     University of Nebraska-Lincoln
26  13505    51                                   Tufts University
27  13640    53                               University of Oregon
28  13776    57                           Brigham Young University
29  13911    61                                 University of Iowa
30  14047    62                        Washington State University

                 CITY                    Courses  AcademicScore  \
0              Ithaca              IT/Management            7.0
1         Seattle ...                         IT            9.0
2       New York City                 Management            6.0
3     Minneapolis ...                    Medical            5.0
4        Philadelphia               Architecture            6.0
5     Los Angeles ...       Architecture/ARTS/IT            4.0
6           New Haven                 Management            4.0
7             Madison                 Management            4.0
8   New York City ...            IT/Medical/Arts            4.0
9           Princeton                    Medical            9.0
10        Los Angeles           IT/Medical/Arts0            6.0
11     Pittsburgh ...               Architecture            5.0
12       East Lansing                          0            6.0
13      San Diego ...                         IT            4.0
14        Gainesville               Architecture            8.0
15         Irvine ...                         IT            8.0
16      North Chicago             ITArchitecture            NaN
17             Durham  Electrnoics/IT/Biomedical            9.0
18       Evanston ...                          0            6.0
19  New Brunswick ...                       Arts            6.0
20     Salt Lake City                        NaN            4.0
21            Raleigh              IT/management            8.0
22     Pittsburgh ...       Medical/Architecture            8.0
23           Pasadena                          0            NaN
24  Santa Barbara ...                          0            NaN
25            Lincoln                          0            NaN
26            Medford                          0            NaN
27         Eugene ...                          0            NaN
28              Provo                          0            NaN
29      Iowa City ...                          0            NaN
30            Pullman                          0            NaN

    Staff/TeacherRatio  Citation Index  \
0                  8.0             5.0
1                  8.0             9.0
2                  7.0             7.0
3                  6.0             7.0
4                  4.0             6.0
5                  5.0             NaN
6                  7.0            -4.0
7                 -6.0             0.0
8                  7.0             9.0
9                  7.0             9.0
10                -6.0             7.0
11                 6.0             NaN
12                 6.0             8.0
13                 6.0             8.0
14                -7.0             5.0
15                 5.0            -7.0
16                 NaN             NaN
17                 9.0             9.0
18                 8.0             7.0
19                 6.0             8.0
20                 6.0             8.0
21                -7.0             5.0
22                 5.0            -7.0
23                 NaN             NaN
24                 NaN             NaN
25                 NaN             NaN
26                 NaN             NaN
27                 NaN             NaN
28                 NaN             NaN
29                 NaN             NaN
30                 NaN             NaN

                                               NPCURL
0      galileo.aamu.edu/netpricecalculator/npcalc.htm
1     www.collegeportraits.org/AL/UAB/estimator/agree
2   tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...
3                                     finaid.uah.edu/
4   www.alasu.edu/cost-aid/forms/calculator/index....
5                                         oira.ua.edu
6   www.cacc.edu/graphics/netpricecalculator/npcal...
7   24.athens.edu/apex/prod8/f?p=174:1:39413574495...
8   www.aum.edu/admissions/financial-information/p...
9        www.auburn.edu/admissions/money-matters.html
10                   www.bsc.edu/fp/np-calculator.cfm
11                     external.cv.edu/npc/npcalc.htm
12                    www.ccal.edu/netprice/netprice/
13  tcc.noellevitz.com/edmc/Transfer-Students?ifra...
14                   www.escc.edu/NetPrice/npcalc.htm
15                              www.faulknerstate.edu
16                         www.faulkner.edu/netprice/
17           www.gadsdenstate.edu/netpricecalculator/
18                  www.nbccosmetology.com/npcalc.htm
19          www.wallace.edu/net_price_calculator.aspx
20  www.wallacestate.edu/Financial-Aid/Net-Price-C...
21               www.wccs.edu/index.php?page=npc.html
22  www.herzing.edu/financial-aid/net-price-calcul...
23  hawk.huntingdon.edu/oiac/netpricecalculator/np...
24                  www.hcu.edu/share/news/npcalc.htm
25  www.drakestate.edu/admissions/net_price_calcul...
26                                www.jsu.edu/finaid/
27                   www.jdcc.edu/netpricecalculator/
28  www.jeffstateonline.com/financial/tuition/net-...
29                  calhoun.studentaidcalculator.com/
30                                     www.judson.edu  >

As in "collegde" data set there is a need only for Rank, City, University name and Courses information, unnessesary columns is better to remove at the first stage in order to improve performance and use computational resources rationaly. 

Additionaly, as there is no missing values in the columns of interest, there is no need to work on it. The one row in Courses that has NA will be removed when filtering dataset for leaving universities with the IT course only. If it would be a bigger data set - it would be nessesary to drop rows with missing values first.

In [234]:
collegeDf.columns
# drop columns that are not needed for the analysis
columns_to_drop = ['uid','AcademicScore', 'Staff/TeacherRatio', 'Citation Index', 'NPCURL']
colledgeDf_cleaned = collegeDf.drop(columns =columns_to_drop )
colledgeDf_cleaned.columns

Index(['RANK', 'UNIVERSITY', 'CITY', 'Courses'], dtype='object')

In [235]:
# cleaning CITY column from unnsesary symbols such as dots
# Function to clean the string
def clean_string(s):
    if isinstance(s, str):
        # Replace periods with spaces
        s = s.replace('.', ' ')
        # Remove tabs, newlines, and other whitespace characters
        s = re.sub(r'\s+', ' ', s)  # Replace multiple spaces, tabs, or newlines with a single space
        # Strip leading and trailing spaces
        s = s.strip()
    return s 

colledgeDf_cleaned['CITY'] = colledgeDf_cleaned['CITY'].apply(clean_string)
print(colledgeDf_cleaned['CITY'])

0             Ithaca
1            Seattle
2      New York City
3        Minneapolis
4       Philadelphia
5        Los Angeles
6          New Haven
7            Madison
8      New York City
9          Princeton
10       Los Angeles
11        Pittsburgh
12      East Lansing
13         San Diego
14       Gainesville
15            Irvine
16     North Chicago
17            Durham
18          Evanston
19     New Brunswick
20    Salt Lake City
21           Raleigh
22        Pittsburgh
23          Pasadena
24     Santa Barbara
25           Lincoln
26           Medford
27            Eugene
28             Provo
29         Iowa City
30           Pullman
Name: CITY, dtype: object

In [236]:
#removing duplicates
#check for duplicates in UNIVERSITY column
unique_names = colledgeDf_cleaned['UNIVERSITY'].unique()
print(f"number of unique universities: {len(unique_names)}")
print(f"number of dataset rows: {colledgeDf_cleaned.shape }") 

if(len(unique_names) == colledgeDf_cleaned.shape[0]):
    print("There is no duplicates in University columns")
else:
    print(f"There are {colledgeDf_cleaned.shape[0] - len(unique_names)} duplicates in the University column")

number of unique universities: 31
number of dataset rows: (31, 4)
There is no duplicates in University columns

In [237]:
#adding a column that indicates if there is a degree in IT offered
def isItDegree(s):
    if isinstance(s, str):
        if 'IT' in s:
            s = True
        else:
            s = False
        
    return s

colledgeDf_cleaned['IsITDegree'] = colledgeDf_cleaned['Courses'].apply(lambda x: pd.Series(isItDegree(x)))
print(colledgeDf_cleaned.head())

   RANK                                   UNIVERSITY           CITY  \
0     5                           Cornell University         Ithaca
1     6                     University of Washington        Seattle
2     7  Columbia University in the City of New York  New York City
3    10          University of Minnesota-Twin Cities    Minneapolis
4    12                   University of Pennsylvania   Philadelphia

         Courses  IsITDegree
0  IT/Management         1.0
1             IT         1.0
2     Management         0.0
3        Medical         0.0
4   Architecture         0.0

In [238]:
#Keep only those Universities that have degree in IT sorted by RANK
colledgeDf_cleaned= colledgeDf_cleaned[colledgeDf_cleaned['IsITDegree'] == True]
colledgeDf_cleaned = colledgeDf_cleaned.sort_values(by="RANK", ascending=False)
print(colledgeDf_cleaned)

    RANK                                         UNIVERSITY           CITY  \
16  1083  Rosalind Franklin University of Medicine and S...  North Chicago
21    42                    North Carolina State University        Raleigh
17    31                                    Duke University         Durham
15    29                   University of California, Irvine         Irvine
13    24                University of California, San Diego      San Diego
10    20                  University of Southern California    Los Angeles
8     18                                New York University  New York City
5     13              University of California, Los Angeles    Los Angeles
1      6                           University of Washington        Seattle
0      5                                 Cornell University         Ithaca

                      Courses  IsITDegree
16             ITArchitecture         1.0
21              IT/management         1.0
17  Electrnoics/IT/Biomedical         1.0
15                         IT         1.0
13                         IT         1.0
10           IT/Medical/Arts0         1.0
8             IT/Medical/Arts         1.0
5        Architecture/ARTS/IT         1.0
1                          IT         1.0
0               IT/Management         1.0

Cleaning crime rate dataset 
Step 1 clean the CITY column
Step 2 drop rows with missing values as dataset has only one such row. In case of big amount of missing values techniques for replacing missing values would apply, for instance replacing missing value with a mode ar mean value. In the more difficult case - it might be nessesary to replace missing value with the nearest neighbor known value.

In [239]:
#cleaning of the CITY column
crimeRateDf['CITY'] = crimeRateDf['CITY'].apply(clean_string)
print(crimeRateDf['CITY'])

#drop rows with missinf values
crimeRateDf = crimeRateDf.dropna()

0             Ithaca
1            Seattle
2      New York City
3        Minneapolis
4       Philadelphia
5        Los Angeles
6      North Chicago
7            Madison
8      New York City
9          Princeton
10       Los Angeles
11        Pittsburgh
12      East Lansing
13         San Diego
14       Gainesville
15            Irvine
16     North Chicago
17            Durham
18          Evanston
19     New Brunswick
20    Salt Lake City
21           Raleigh
22        Pittsburgh
23          Pasadena
24     Santa Barbara
25           Lincoln
26           Medford
27            Eugene
28             Provo
29         Iowa City
30           Pullman
31         Rochester
32           Fairfax
33        Providence
34         Nashville
35           Hanover
36            Newark
Name: CITY, dtype: object

In [240]:
#check for duplicates 
unique_cities= crimeRateDf['CITY'].unique()
print(f"number of unique cities: {len(unique_cities)}")
print(f"number of dataset rows: {crimeRateDf.shape[0] }") 

if(len(unique_cities) == colledgeDf_cleaned.shape[0]):
    print("There is no duplicates in CITY columns")
else:
    print(f"There are {crimeRateDf.shape[0] - len(unique_cities)} duplicates in the CITY column")

number of unique cities: 33
number of dataset rows: 36
There are 3 duplicates in the CITY column

In [241]:
#drop duplicates
crimeRateDf=crimeRateDf.drop_duplicates(subset=["CITY"])
print(crimeRateDf.shape)

(33, 8)

## Calculation of the total crime rate and define cities that are below 50th percentile in overall crime

In [242]:
#calculation of the total crime rate by addint totalCrime column 
crimeRateDf["totalCrimeRate"] = crimeRateDf["ViolentCrime"] + crimeRateDf["Murder"] + crimeRateDf["Robbery"] + crimeRateDf["PropertyCrime"] + crimeRateDf["Burglary"] + crimeRateDf["Theft"] + crimeRateDf["MotorVehicleTheft"]

#sort cities in Dewcending order
crimeRateDf = crimeRateDf.sort_values(by="totalCrimeRate", ascending=True)
columnsToPrint=["CITY", "totalCrimeRate"]
print(crimeRateDf[columnsToPrint])

#drop columns that are not needed for the analysis
crimeRateDf = crimeRateDf.drop(columns=["ViolentCrime", "Murder", "Robbery", "PropertyCrime", "Burglary", "Theft","MotorVehicleTheft"])
crimeRateDf.shape

              CITY  totalCrimeRate
33      Providence          4644.5
34       Nashville          4685.4
29       Iowa City          5387.4
35         Hanover          5390.7
17          Durham          5907.4
23        Pasadena          6150.4
30         Pullman          6286.1
5      Los Angeles          6298.2
32         Fairfax          6484.4
6    North Chicago          6730.4
26         Medford          6779.1
28           Provo          6856.7
11      Pittsburgh          6988.4
12    East Lansing          7007.4
3      Minneapolis          7039.5
31       Rochester          7245.1
19   New Brunswick          7447.0
27          Eugene          7453.4
25         Lincoln          7559.1
24   Santa Barbara          7572.4
15          Irvine          7654.9
14     Gainesville          7684.8
36          Newark          7818.3
20  Salt Lake City          7910.7
7          Madison          7951.4
21         Raleigh          8121.4
18        Evanston          8156.9
9        Princeton          8408.6
13       San Diego          8621.8
1          Seattle          9672.2
4     Philadelphia         10037.6
2    New York City         10192.8
0           Ithaca         10701.0

(33, 2)

In [243]:
#define cities where crime is below 50 percentile
def pct50(column):
    return column.quantile(0.3)
Below50pctMark = crimeRateDf["totalCrimeRate"].agg(pct50)
print(Below50pctMark)
cityToLive = crimeRateDf[crimeRateDf["totalCrimeRate"]<Below50pctMark]
print(cityToLive)

6759.620000000001
             CITY  totalCrimeRate
33     Providence          4644.5
34      Nashville          4685.4
29      Iowa City          5387.4
35        Hanover          5390.7
17         Durham          5907.4
23       Pasadena          6150.4
30        Pullman          6286.1
5     Los Angeles          6298.2
32        Fairfax          6484.4
6   North Chicago          6730.4

## Defining best schools for Maria

In [244]:
#merge datasets 
topSafeColledge = pd.merge(cityToLive, colledgeDf_cleaned, on='CITY', how='inner')

topSafeColledge = topSafeColledge.sort_values(by="RANK", ascending=False)

topSafeColledge

,CITY,totalCrimeRate,RANK,UNIVERSITY,Courses,IsITDegree
3,North Chicago,6730.4,1083,Rosalind Franklin University of Medicine and S...,ITArchitecture,1.0
0,Durham,5907.4,31,Duke University,Electrnoics/IT/Biomedical,1.0
1,Los Angeles,6298.2,20,University of Southern California,IT/Medical/Arts0,1.0
2,Los Angeles,6298.2,13,"University of California, Los Angeles",Architecture/ARTS/IT,1.0

### Conclusion: there are only 4 univercities that offer an IT degree and are in cities with the crime rate below 50 percentile, the most popular city is Los Angeles as it has two universities that fullfil requirements